<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--sqlserver-->
  <add name="sqlconn" connectionString="server=127.0.0.1;database=MyDataBase;User=sa;password=123456;Connect Timeout=1000000" />
  <!--mysql-->
  <add name="mysqlconn" connectionString="server=localhost;port=3306;uid=root;pwd=123456;database=knight;charset=utf8;default command timeout=300;TreatTinyAsBoolean=false" />
</connectionStrings>